body {
    background-color: rgba(73, 46, 196, 0.232);
    font-family:Arial;
    line-height: 1,5;
  }

.page-footer-box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
footer {
  background-color: #ccc;
}
.list{
    background-color: blue;
}